.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
.swiftpm/xcode/xcshareddata
Demo/CIFilterFactory_Demo/CIFilterFactory Tests.xcodeproj/project.xcworkspace/xcshareddata
CIFilterFactory ObjectiveC Test.xcscheme
._*
